[submodule "alacritty/alacritty-theme"]
	path = alacritty/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme
	branch = master
[submodule "zsh/zsh-defer"]
	path = zsh/zsh-defer
	url = https://github.com/romkatv/zsh-defer.git
	branch = master
[submodule "sources/helix"]
	path = helix/src
	url = https://github.com/helix-editor/helix
	branch = master
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	branch = master
[submodule "zellij/website"]
	path = zellij/website
	url = https://github.com/zellij-org/zellij-org.github.io.git
	branch = main
[submodule "harper/src"]
	path = harper/src
	url = https://github.com/Automattic/harper.git
	branch = master
