priv.*

## IDE
.idea/
.vscode

## MacOS
.DS_Store

## Brew
Brewfile.lock.json

## Emacs
emacs/eln-cache/
emacs/elpaca/
emacs/elpa/
emacs/tree-sitter/
emacs/var/

## Git Secret
.gitsecret/keys/random_seed
!*.secret
ssh/config
gpg/0x22171E5E54F901DC.asc
gpg/0x22171E5E54F901DC.asc.pub
gpg/0xA74EEDD900C370A4.asc
gpg/0xA74EEDD900C370A4.asc.pub
gpg/fingerprint.txt
gpg/gpg-agent.conf
gpg/gpg.conf
gpg/ownertrust.asc
gpg/sshcontrol
