priv.*

# IDE
.idea/
.vscode

# MacOS
.DS_Store

# Emacs
emacs/eln-cache/
emacs/elpaca/
emacs/elpa/
emacs/tree-sitter/
emacs/var/

# Git Secret
.gitsecret/keys/random_seed
!*.secret
ssh/config
git/work.gitconfig
