# Theme
theme = "custom"

# Editor configuration
[editor]
auto-completion = true
auto-format = true
auto-info = true
bufferline = "always"
color-modes = true
completion-replace = true
completion-trigger-len = 3
cursorcolumn = false
cursorline = true
gutters = ["spacer", "line-numbers", "spacer", "diff"]
kitty-keyboard-protocol = "enabled"
line-number = "relative"
popup-border = "none"
rainbow-brackets = true
true-color = true
undercurl = true

# LSP configuration
[editor.lsp]
auto-signature-help = true
display-inlay-hints = true
display-messages = true
display-progress-messages = true
display-signature-help-docs = true
enable = true
goto-reference-include-declaration = true
snippets = true

# Diagnostics
[editor.inline-diagnostics]
cursor-line = "warning"
other-lines = "error"

[editor.auto-pairs]
'(' = ')'
'{' = '}'
'[' = ']'
'"' = '"'
'`' = '`'
'<' = '>'
"'" = "'"

[editor.auto-save]
focus-lost = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.indent-guides]
render = true
skip-levels = 1

[editor.statusline]
left = ["mode", "read-only-indicator", "file-modification-indicator", "file-name", "position"]
center = []
right = ["spinner", "workspace-diagnostics", "version-control", "file-encoding", "file-line-ending"]


# Keybindings
[keys.normal]
# Clipboard
Cmd-c = "yank_to_clipboard"
# Buffer navigation
C-tab = ":buffer-next"
C-S-tab = ":buffer-previous"
# Basic movement and selection
esc = ["collapse_selection", "keep_primary_selection"]

# Line selection
x = ["extend_line", "select_mode"]
X = ["extend_line", "select_mode", "flip_selections"]

# Insert mode
i = ["collapse_selection", "insert_mode"]
a = ["collapse_selection", "append_mode"]


# Reload
F5 = [":reload-all", ":echo Reloaded configuration"]

# Git blame
F7 = ":sh git blame %{buffer_name} -L %{cursor_line},%{cursor_line}"

# Paragraph navigation
"}" = ["move_next_word_end", "select_mode", "insert_at_line_start", "move_line_down", "goto_next_paragraph", "normal_mode", "goto_prev_paragraph", "goto_next_paragraph", "trim_selections"]
"{" = ["move_next_word_start", "select_mode", "insert_at_line_end", "move_line_up", "goto_prev_paragraph", "normal_mode", "goto_next_paragraph", "goto_prev_paragraph", "trim_selections"]

# Window splits (helix have it reversed)
#C-v = "hsplit_new"
#C-h = "vsplit_new"


[keys.insert]
# Clipboard
Cmd-c = "yank_to_clipboard"
# Buffer navigation
C-tab = ":buffer-next"
C-S-tab = ":buffer-previous"

# Word navigation
C-left = "move_prev_word_start"
C-right = "move_next_word_start"
A-left = "move_prev_sub_word_start"
A-right = "move_next_sub_word_start"

# Signature help
# C-space = "signature_help"


[keys.select]
# Clipboard
Cmd-c = "yank_to_clipboard"

# Exit select mode
esc = ["collapse_selection", "keep_primary_selection", "normal_mode"]

# Line operations
g = { e = ["extend_to_last_line", "extend_to_line_end"] }
X = "extend_line_above"

